/*sidebar */
.sidebar {

  max-width: 160px;
  min-width: 160px;

}
.banner {

}
.portal {

}

.logo {
  width: 100%;
}

.main-body {
  float: right;
}

.welcome-bar {
  background-color: grey;
}

.container-fluid {

}

#welcome-wiki {
  font-size: 20px;
}
