/*sidebar */
.sidebar {
  float: left;
  width: 160px;

}
.banner {

}
.portal {

}

.logo {
  width: 100%;
}

.main-body {
  float: right;
}

.welcome-bar {
  background-color: grey;
}



#welcome-wiki {
  font-size: 20px;
}
